* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	max-width: 100%;
}

body {
	font-family: calibri;
}

header {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;
	-webkit-app-region: drag;
	background: #353535;
}

.option {
	padding: 10px 25px;
	font-size: 1.5rem;
	cursor: pointer;
	color: white;
	-webkit-app-region: no-drag;
}

.option:hover {
	background: red;
}

